.embla {
  overflow: hidden;
}
.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
}
.embla__slide {
  flex: 0 0 50%;
  margin-left: 30px;
  margin-right: 30px;
}
